# Django sozlamalari
SECRET_KEY=your-secret-key-here-change-this-in-production
DEBUG=False
ALLOWED_HOSTS=anistream-694e.onrender.com,anistream.dev,www.anistream.dev,127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://anistream.dev,https://www.anistream.dev,https://anistream-694e.onrender.com

# Telegram storage (video uchun)
TELEGRAM_BOT_TOKEN=123456:ABC-DEF...
TELEGRAM_CHANNEL_ID=-1001234567890
TELEGRAM_CHANNEL_USERNAME=your_channel_username

# Telegram MTProto (Katta hajmli videolar 2GB gacha o'qish uchun)
# my.telegram.org saytidan olinadi
TELEGRAM_API_ID=123456
TELEGRAM_API_HASH=abcdef1234567890

# Database (Neon.tech yoki Render PostgreSQL)
DATABASE_URL=postgresql://user:password@host:5432/dbname

# Cloudinary (Media files - rasm va video)
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
USE_CLOUDINARY=True

# Logging
DJANGO_LOG_LEVEL=INFO
