# Django va asosiy paketlar
Django==6.0.2
gunicorn==21.2.0
uvicorn[standard]==0.27.1
psycopg[binary]>=3.1.18

# Database
dj-database-url==2.1.0

# Static files
whitenoise==6.6.0

# Production sozlamalari
python-dotenv==1.0.0
requests==2.32.3
telethon==1.42.0
cryptg==0.5.2

# Pillow (rasm yuklash uchun) - Python 3.14 uchun
Pillow>=11.0.0

# Cloudinary (Media storage)
cloudinary==1.41.0
django-cloudinary-storage==0.3.0
