TELEGRAM_BOT_TOKEN=8716287224:AAEDTjkHw4T93BoFk6eUzN961a_9vBPxfAk
TELEGRAM_CHANNEL_ID=-1003805904691
TELEGRAM_CHANNEL_USERNAME=ani_stream_uz
TELEGRAM_ADMIN_IDS=8559698381
TELEGRAM_BOT_STATE_FILE=telegram_bot_state.json
TELEGRAM_API_ID=30190826
TELEGRAM_API_HASH=f1a38fd73641b0223f1a34c8ef14fbb0
